.wrapper {
    width: 850px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100px;

    font-size: 3rem;
    color: tomato;
}

.header-button[disabled] {
    color: grey;
}

.header-button:hover {
    color: rgb(170, 5, 5);
    cursor: pointer;
}

.header-button[disabled]:hover {
    color: grey;
}

.word {
    width: 100%;
    height: 300px;

    margin-top: 20px;
    background-color: rgb(206, 206, 201);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
    font-weight: 900;
    color: steelblue;
}

.text {
    font-size: small;
    font-weight: 300;
}

.waveform {
    margin-top: 20px;
}

#container {
  height: 800px;
  position: relative;
  width: 2500px;
}

#viewport {
  height: 100%;
  width: 100%;
}

.btn {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    color: red;
}

.green {
    color: green;
}

.loading {
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.loading-true {
    opacity: 0.2;
    display: flex;
    background: white;
    color: black;
    z-index: 10;
}

